{% extends 'appCaixaSugestao/base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<a href="{% url 'sugestao_novo' %}" style="color: white;">
 <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 730px; height: 250px;">
                <h1>Dar Sugestão</h1>
          </button>
</a>
<br>
 <a href="{% url 'login' %}" style="color: white;">
<button type="button" class="btn btn-warning btn-lg btn-block">
              <h3 style="color: white;">Acesso para administradores</h3>
          </button>
 </a>
<br>
<a href="/admin" style="color: white;">
<button type="button" class="btn btn-success btn-lg btn-block">
              <h3 style="color: white;">Acesso ao proprietário do sistema</h3>
          </button>
 </a>


{% endblock %}