{% extends 'appCaixaSugestao/base.html' %}

{% block title %}
Listagem de respostas
{% endblock title %}

{% block content %}

<form method="get">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="busca" placeholder="Buscar resposta a sua sugestão">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </span>
    </div>
    </div>
</form>

<div class="col-lg-12">
<table class="table">
  <thead>
    <tr>
      <th>Nome do responsável pela respota</th>
        <th>Dono da sugestão respondida</th>
        <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for resposta in lista %}
    <tr>
      <td>{{ resposta.responsavel }}</td>
        <td>{{ resposta.sugestionador }}</td>
      <td>
          <a href="{% url 'sugestao_ver_resposta' pk=resposta.pk %}">
            <span>
                <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg>
            </span>
        </a>
          <span></span>
          {% if request.user.is_staff %}
<a href="{% url 'sugestao_excluir_resposta' pk=resposta.pk %}">
            <span>
                <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
            </span>
        </a>
          {% endif %}
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'index' %}">
<button type="submit" class="btn btn-success">
    Voltar a página principal
</button>
</a>
</div>
{% endblock content %}