{% extends 'appCaixaSugestao/base.html' %}

{% block content %}
<h2>Painel de controle</h2>

<br>
<div class="col-lg-12">
<table class="table">
  <thead>
    <tr>
      <th>Nome de usuário</th>
      <th>Email</th>
        {% if request.user.is_superuser %}
      <th>Ação</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for usuario in lista %}
    <tr>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
        <td>
          {% if request.user.is_staff %}
            <a href="{% url 'usuario_remover' pk=usuario.pk %}">
                <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
            </a>
          {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% if request.user.is_superuser == False %}
    <a href="{% url 'sugestao_listar' %}" style="color: white;">
<button type="button" class="btn btn-danger btn-lg btn-block">
              Acessar área de responsáveis de determinadas áreas
          </button>
     </a>
{% endif %}
    <br>
    {% if request.user.is_staff %}
  <a href="{% url 'usuario_registrar' %}" style="color: white;">
<button type="button" class="btn btn-warning btn-lg btn-block">
              Cadastrar usuário
          </button>
     </a>
<br>


  <a href="{% url 'sugestao_listar' %}" style="color: white;">
<button type="button" class="btn btn-info btn-lg btn-block">
              Listar as sugestões dadas
          </button>
     </a>
<br>
     <a href="{% url 'index' %}" style="color: white;">
<button type="button" class="btn btn-success btn-lg btn-block">
              Voltar à página principal
          </button>
     </a>
<br>



  {% endif %}
    <a href="{% url 'deslogar' %}" style="color: white;">
<button type="button" class="btn btn-danger btn-lg btn-block">
              Deslogar
          </button>
     </a>
</div>
<br>
<br>
{% endblock content %}